<!DOCTYPE html>
<html>
<body>

<h2>HTML Forms</h2>

<!-- <form action="/submit" method='post'>
  <label for="Science">Science:</label><br>
  <input type="text" id="science" name="science" value="0"><br>
  <label for="Maths">Maths:</label><br>
  <input type="text" id="maths" name="maths" value="0"><br><br>
  <label for="C ">C:</label><br>
  <input type="text" id="c" name="c" value="0"><br><br>
  <label for="datascience">Data Science:</label><br>
  <input type="text" id="datascience" name="datascience" value="0"><br><br>
  <input type="submit" value="Submit">
</form>  -->

<h1>
  Personal Info Form
</h1>

<form action="/submit" method="post">
  <label for="age">age:</label><br>
  <input type="number" id="age" name="age"  ><br>
  <label for="smoke">smoke:</label><br>
  <input type="text" id="smoke" name="smoke"  ><br>
  <label for="alcohol">alcohol:</label><br>
  <input type="text" id="alcohol" name="alcohol"><br>
  <label for="gender">gender:</label><br>
  <input type="text" id="gender" name="gender" ><br>
  <label for="waist">waist:</label><br>
  <input type="number" id="waist" name="waist"><br>
  <label for="activity">activity:</label><br>
  <input type="number" id="activity" name="activity"><br>
  <label for="history">history:</label><br>
  <input type="text" id="history" name="history"><br>
  <input type="submit" value="submit">
<p>If you click the "Submit" button, the form-data will be sent to a page called "/submit".</p>

</body>
</html>